/*==================================
FONT FACE
==================================*/

// TM Sans Light

@font-face{
    font-family:"tm_sans_light";
	src: url("../fonts/tm-sans/TMSans-Light.eot") format("eot"), 
		 url("../fonts/tm-sans/TMSans-Light.woff2") format("woff2"),
		 url("../fonts/tm-sans/TMSans-Light.woff") format("woff"),
		 url("../fonts/tm-sans/TMSans-Light.ttf") format("truetype");
}

// TM Sans Regular

@font-face{
    font-family:"tm_sans_regular";
	src: url("../fonts/tm-sans/TMSans-Regular.eot") format("eot"), 
		 url("../fonts/tm-sans/TMSans-Regular.woff2") format("woff2"),
		 url("../fonts/tm-sans/TMSans-Regular.woff") format("woff"),
		 url("../fonts/tm-sans/TMSans-Regular.ttf") format("truetype");
}

// TM Sans Semi Bold

@font-face{
    font-family:"tm_sans_semi_bold";
	src: url("../fonts/tm-sans/TMSans-SemiBold.eot") format("eot"), 
		 url("../fonts/tm-sans/TMSans-SemiBold.woff2") format("woff2"),
		 url("../fonts/tm-sans/TMSans-SemiBold.woff") format("woff"),
		 url("../fonts/tm-sans/TMSans-SemiBold.ttf") format("truetype");
}

// TM Sans Bold

@font-face{
    font-family:"tm_sans_bold";
	src: url("../fonts/tm-sans/TMSans-Bold.eot") format("eot"), 
		 url("../fonts/tm-sans/TMSans-Bold.woff2") format("woff2"),
		 url("../fonts/tm-sans/TMSans-Bold.woff") format("woff"),
		 url("../fonts/tm-sans/TMSans-Bold.ttf") format("truetype");
}

// TM Sans Bold

@font-face{
    font-family:"tm_sans_black";
	src: url("../fonts/tm-sans/TMSans-Black.eot") format("eot"), 
		 url("../fonts/tm-sans/TMSans-Black.woff2") format("woff2"),
		 url("../fonts/tm-sans/TMSans-Black.woff") format("woff"),
		 url("../fonts/tm-sans/TMSans-Black.ttf") format("truetype");
}

/*==================================
GENERAL FONTS
==================================*/

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, p {
	font-size: 18px;
	line-height: 23px;
	font-family: 'tm_sans_regular', sans-serif;

	@include mobile_landscape {
		font-size: 16px;
		line-height: 23px;
	}
}

p {

	&.meta {
		font-family: 'tm_sans_black', sans-serif;
		font-size: 13px;
		line-height: 13px;
	}

	small {
		font-size: 13px;
		line-height: 13px;
	}
	
}

body {
	color: $black;
}

h1 {
	font-size: 34px;
	line-height: 38px;
	font-weight: normal;
	letter-spacing: .4px;
	font-family: 'tm_sans_light', sans-serif;

	@include tablet {
        font-size: 30px;
        line-height: 32px;
	}
	
	@include tablet {
        font-size: 26px;
        line-height: 28px;
    }
}

h2 {
	font-size: 24px;
	line-height: 28px;
	letter-spacing: .4px;
	font-weight: normal;
	font-family: 'tm_sans_semi_bold', sans-serif;

	@include mobile_landscape {
        font-size: 20px;
        line-height: 23px;
    }
}

h3 {
	font-size: 18px;
	line-height: 20px;
	font-weight: normal;
	text-transform: uppercase;
	font-family: 'tm_sans_black', sans-serif;

	&.spaced {
		letter-spacing: 5px;
	}

	&.category_name {
		font-size: 13px;
		line-height: 13px;
		letter-spacing: 5px;
	}

	@include mobile_landscape {
        font-size: 16px;
        line-height: 18px;
    }
}

h5 {
	font-size: 18px;
	line-height: 23px;
	font-weight: normal;
	font-family: 'tm_sans_semi_bold', sans-serif;

	@include mobile_landscape {
        font-size: 16px;
        line-height: 20px;
    }
}

p, h1, h2, h3, h4, h5 {
	margin: 0px 0px 20px;
}

// Bold

b, strong {
    font-family: 'tm_sans_black', sans-serif;
}

/*==================================
LINKS
==================================*/

a, a:visited, a:active, a:focus {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
	outline: 0;
}

a {
	transition: color .2s ease-in-out;
}

/*==================================
HEADERS
==================================*/

// Inpage Header

.inpage_header {
	text-transform: uppercase;
	margin-bottom: 50px;
	text-align: center;
	letter-spacing: 2px;

	@include mobile_landscape {
		margin-bottom: 30px;
	}
}