/*==================================
HELPERS
==================================*/

// Colors

.color_white {
  color: $white;
}

.color_pink {
  color: $tm_pink;
}

.color_blue {
  color: $tm_blue;
}

// Backgrounds

.background_white {
  background: $white;
}

// Margins

.margin_bottom_0 {
  margin-bottom: 0px;
}

// Fonts

.uppercase {
  text-transform: uppercase;
}