/*==================================
GENERAL STRUCTURE
==================================*/

body {
    background: $light_grey;
}

.main_wrapper {
    overflow-x: hidden;
}

.main_content {
    padding-top: 75px;
    opacity: 0;
    transition: all .3s ease-in-out;

    @include tablet_landscape {
        padding-top: 50px;
    }
}

body.loaded .main_content {
    opacity: 1;
}

body.page_with_subnav .main_content {
    padding-top: 115px;

    @include tablet_landscape {
        padding-top: 50px;
    }
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.small_container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    position: relative;
}

/*==================================
Single Post
==================================*/

.single_post_body {
    .column_1_3, .column_2_3 {
        @include tablet_landscape {
            width: 100%;
        }
    }
}

/*==================================
Section
==================================*/

.tm_section {
    padding: 50px 0;

    @include mobile_landscape {
		padding: 30px 0;;
	}
}

// Title

.tm_section_title {
    text-align: center;
    letter-spacing: 4px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

/*==================================
GRID
==================================*/

.tm_row {
    display: flex;
    flex-flow: row wrap;
    width: auto;
    margin: 0px -15px;
}

.column_1, .column_1_2, .column_1_3, .column_2_3, .column_1_4, .column_3_4 {
	position: relative;
	margin: 0px 0px 30px;
	padding: 0px 15px;
	display: inline-block;

	img {
		// display: block;
	}
}

/*=== Columns ===*/

.column_1 {
    width: 100%;
}

.column_1_2 {
    width: 50%;

    @include mobile_landscape {
    	width: 100%;
    }
}

.column_1_3 {
    width: 33.33%;

    @include tablet {
    	width: 100%;
    }
}

.column_2_3 {
    width: 66.66%;

    @include tablet {
    	width: 100%;
    }
}

.column_1_4 {
    width: 25%;

    @include tablet {
    	width: 50%;
    }

    @include tablet {
    	width: 100%;
    }
}

.column_3_4 {
    width: 75%;

    @include tablet {
    	width: 100%;
    }
}

/*=== Stretch columns so their content blocks are the same height ===*/

.stretch_height {
    display: flex;
    flex-direction: column;
}

.stretch_height .content {
    position: relative;
 	  display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}