/*================
COLORS
================*/

// Neutrals

$white: #FFFFFF;

$black: #000000;

// Greys

$light_grey: #F8F8F8;

$dark_grey: #414141;

$light_grey_accent: #B7C9D3;

$dark_grey_accent: #768692;

// Vibrants

$tm_blue: #46C6FF;

$tm_dark_blue: #159BD7;

$tm_pink: #D0006F;

$tm_vibrant_pink: #ff058b;

// Gradients

$gradient_dark_to_light_blue: linear-gradient(to right, $tm_dark_blue 0%, $tm_blue 100%);

$gradient_light_to_dark_blue: linear-gradient(to right, $tm_blue 0%, $tm_dark_blue 100%);

$gradient_blue_transparent: linear-gradient(to right, rgba($tm_dark_blue, .8) 0%, rgba($tm_blue, .8) 100%);

$gradient_pink_transparent: linear-gradient(to right, rgba($tm_pink, 1) 0%, rgba($tm_pink, .2) 100%);

$gradient_light_to_dark_blue_transparent: linear-gradient(to right, rgba($tm_blue, .8) 0%, rgba($tm_dark_blue, .8) 100%);

$gradient_pink_to_blue: linear-gradient(to right, $tm_pink 0%, $tm_blue 100%);

$gradient_blue_to_pink: linear-gradient(to right, $tm_blue 0%, $tm_pink 100%);

$gradient_pink_to_blue_transparent: linear-gradient(to right, rgba($tm_pink, .8) 0%, rgba($tm_blue, .8) 100%);

$gradient_blue_to_pink_transparent: linear-gradient(to right, rgba($tm_blue, .8) 0%, rgba($tm_pink, .8) 100%);

/*================
EASINGS
================*/

$bounceIn: cubic-bezier(.25,1.7,.35,.8);

$easeInSine: cubic-bezier(0.47, 0, 0.745, 0.715);
$easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);
$easeInOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);

$easeInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeInOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);

$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);

$easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeInOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);

$easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easeInOutQuint: cubic-bezier(0.23, 1, 0.32, 1);

$easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easeInOutExpo: cubic-bezier(0.19, 1, 0.22, 1);

$easeInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
$easeInOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);

$easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);

$easeInOutFast: cubic-bezier(1,0,0,1);

$authenticMotion: cubic-bezier(.4,0,.2,1);