/*==================================
Lists
==================================*/

ul, ol {
  margin: 0 0 20px;
  padding: 0;
  list-style-position: outside;
}

/*==================================
Buttons
==================================*/

input, button, textarea {
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
}

a.tm_button {
  font-family: 'tm_sans_black', sans-serif;
  border-radius: 3px;
  background: $tm_dark_blue !important;
  padding: 10px 15px;
  color: $white !important;
  display: inline-block;
  transition: all .3s ease-in-out;

  &:hover {
    background: $tm_blue !important;
  }
}

a.tm_button.pink {
  background: $tm_pink !important;
  color: $white !important;

  &:hover {
    background: $tm_vibrant_pink !important;
  }
}

a.tm_button.small {
  font-size: 12px;
  line-height: 12px;
}

a.tm_button_rounded, .tm_button_rounded {
  font-family: 'tm_sans_black', sans-serif;
  border-radius: 30px;
  background: $white;
  border: 1px solid $tm_blue;
  padding: 10px 20px;
  color: $tm_blue;
  cursor: pointer;
  transition: all .3s ease-in-out;

  &:hover {
    background: $tm_blue;
    color: $white;
  }
}

/*==================================
Custom Dropdown
==================================*/

// Container

.tm_dropdown {
  border: 1px solid $tm_blue;
  background: 0 0;
  border-radius: 30px;
  color: $tm_blue;
  padding: 10px 20px;
  position: relative;
  cursor: pointer;
}

// Button

.tm_dropdown_selection {
  text-transform: uppercase;
}

.tm_dropdown i {
  font-size: 30px;
  position: absolute;
  right: 15px;
  top: 6px;
  transition: all .3s ease-in-out;
}

.tm_dropdown.open i {
  transform: rotate(-180deg);
}

// List

.tm_dropdown ul.tm_dropdown_list {
  max-height: 0;
  overflow: scroll;
  list-style: none;
  position: absolute;
  background: white;
  left: 0;
  border-left: 2px solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
  top: 43px;
  width: calc(100% - 40px);
  border-top: 2px solid;
  left: 20px;
  z-index: 10;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.tm_dropdown.open ul.tm_dropdown_list {
  max-height: 300px;
  opacity: 1;
}

ul.tm_dropdown_list li {
  padding: 10px;
  border-bottom: 1px solid $tm_blue;
  transition: all .3s ease-in-out;

  &:last-child {
      border-bottom: 0;
  }

  &:hover {
    background: $tm_blue;
    color: $white;
  }
}

/*==================================
Load More
==================================*/

button.alm-load-more-btn, .tm_load_more {
  cursor: pointer;
  width: 100%;
  text-align: center;
  color: $tm_blue;
  outline: 0;
}

button.alm-load-more-btn, .tm_load_more {

  i {
      width: 30px;
      height: 30px;
      border: 2px solid $tm_blue;
      color: $tm_blue;
      border-radius: 50%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .3s ease-in-out;

      &:hover {
          background: $tm_blue;
          color: $white;
      }
  }

}

button.alm-load-more-btn.loading i {
    animation: spin 4s linear infinite;
}

button.alm-load-more-btn.done, .tm_load_more.done {
    display: none;
}

/*==================================
Trending Bar
==================================*/

.trending_bar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 50px;

  &.centered {
      justify-content: center;
  }

  @include tablet {
      text-align: center;
      margin-bottom: 20px;
  }
}

.trending_bar h3 {
  margin: 0 10px 0 0;
  color: $light_grey_accent;

  @include tablet {
      width: 100%;
      margin: 0 0 10px;
  }
}

.trending_bar.pink h3 {
  color: $tm_pink;
}

/*==================================
TM Pills
==================================*/

ul.tm_pills {
  list-style: none;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  &.centered {
      width: 100%;
      justify-content: center;
      text-align: center;
  }

  &.flush_left {
      justify-content: normal;
  }
}

ul.tm_pills li {
  @include tablet {
      width: 100%;
      margin-bottom: 10px;
  }
}

ul.tm_pills li a {
  margin: 0 10px;
  display: inline-block;
  border: 1px solid $tm_blue;
  padding: 3px 30px;
  border-radius: 20px;
  color: $tm_blue;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'tm_sans_semi_bold', sans-serif;
  transition: all .3s ease-in-out;

  &:hover {
    background: $tm_blue;
    color: $white;
  }

  @include mobile_landscape {
    font-size: 13px;
  }
}

ul.tm_pills.flush_left li a {
  margin: 0 10px 0 0;
}

ul.tm_pills.white li a {
  border: 1px solid #fff;
  color: white;

  &:hover {
    background: $tm_pink;
    border: 1px solid $tm_pink;
    color: $white;
  }
}

ul.tm_pills.pink li a {
  border: 1px solid $tm_pink;
  color: $tm_pink;

  &:hover {
    background: $tm_pink;
    color: $white;
  }
}

/*==================================
Link w/ Arrow
==================================*/

a.link_with_arrow, .link_with_arrow {
  display: flex;
  width: 100%;
  justify-content: center;
  color: $tm_blue;
  align-items: center;
  transition: all .3s ease-in-out;

  &:hover {
    color: $tm_dark_blue;
  }
}

a.link_with_arrow h3, .link_with_arrow h3 {
  margin-bottom: 0;
  margin-right: 10px;
}

a.link_with_arrow i, .link_with_arrow i {
  font-size: 30px;
  transition: transform .3s ease-in-out;
}

a.link_with_arrow:hover i, .link_with_arrow:hover i {
  transform: translateX(5px);
}

/*==================================
Social Icons
==================================*/

ul.social_icons {
  margin: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

ul.social_icons li {
  color: white;
  font-size: 25px;
  font-size: 25px;
  margin: 0 10px;
  transition: all .3s ease-in-out;

  &:hover {
    opacity: .8;
  }
}

ul.social_icons.flush_left li:first-child {
  margin: 0 10px 0 0;
}

ul.social_icons.flush_right {
  text-align: right;

  li:last-child {
    margin: 0 0 0 10px;
  }
}

// JS Socials Customization

ul.tm_social_share {
  display: flex;
  margin: 0;
}

ul.tm_social_share li {
  background: $tm_blue;
  color: $white;
  cursor: pointer;
  border-radius: 50%;
  padding: 0;
  width: 30px;
  height: 30px;
  font-size: 15px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;

  &:hover {
    background: $tm_dark_blue;
  }
}

.social_share {

}

/*==================================
Custom Icons
==================================*/

// Search Icon

.search_icon {
  background-color: transparent;
  height: 30px;
  width: 30px;
  display: block;
  margin-left: 10px;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
}

.search_icon .circle {
  position: relative;
  display: block;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border-radius: 70px;
  border: 3px solid white;
  transition: all .6s cubic-bezier(.25,1.7,.35,.8);
  z-index: 1;
}

.search_icon .handle {
  position: absolute;
  background-color: $white;
  top: 21px;
  left: 12px;
  width: 19px;
  height: 3px;
  display: block;
  transform: rotate(45deg);
  float: right;
  border-radius: 2px;
  &:after {
    content:"";
    background-color: $white;
    width: 19px;
    height: 3px;
    display: block;
    float: right;
    border-radius: 2px;
    transition: all .6s cubic-bezier(.25,1.7,.35,.8);
    z-index: -1;
  }
}

// Close

.close_icon {
  position: relative;
  display: inline-block;
  width: 17px;
  height: 17px;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    &::before, &::after {
      background: $black;
    }
  }

  &::before, &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #000;
    backface-visibility: hidden;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

/*==================================
Tooltip Balloons
==================================*/

[data-balloon]:after {
  line-height: 20px;
}

/*==================================
Ad Containers
==================================*/

.tm_leaderboard_ad_container {
  text-align: center;
  max-width: 728px;
  margin: 0 auto 30px;

  @include tablet {
    margin-bottom: 20px;
  }
}