/*==================================
Events Grid
==================================*/

.event_grid {
    display: flex;
    flex-flow: row wrap;
}

.event_grid .event_card {
    width: 20%;
}

/*==================================
Standard Event Card
==================================*/

.event_card {
    padding: 0 5px;
    // margin-bottom: 20px;
    display: block;
}

.event_card_image_container {
    height: 150px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}

.event_card_image {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .3s;
}

.event_card_content {
    margin-bottom: 5px;
    display: flex;
}

.event_card_content p {
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 5px;
}

.event_card_content .event_date {
    font-family: 'tm_sans_black', sans-serif;
    width: 40%;
}

.event_name_location {
    width: 60%;
}

.event_card_content .event_name {
    color: $tm_blue;
    font-family: 'tm_sans_black', sans-serif;
    text-transform: none;
    transition: all .3s ease-in-out;
}

// Hover 

.event_card:hover {
    .event_name {
        color: $tm_dark_blue;
    }
    .event_card_image {
        transform: scale(1.08);
    }
}