/*==================================
Structure
==================================*/

footer {
    background: $gradient_dark_to_light_blue;
    padding: 80px 0 20px;
    color: white;

    @include tablet {
        padding: 40px 0 20px;
    }
}

/*==================================
Navigation
==================================*/

footer ul.menu {
    list-style: none;
    margin: 0;
}

.footer .menu li {
    font-family: 'tm_sans_semi_bold', 'sans-serif';
    margin-bottom: 5px;
}

.footer .footer_partner_logos img {
    display: inline-block;
    max-height: 60px;
    width: auto;
    max-width: 40%;
    margin-right: 10px;
}

.footer .footer_app_logos img {
    display: inline-block;
    width: auto;
    margin-right: 10px;
    height: 35px;
}