/*==================================
Inputs
==================================*/

input {
    outline: 0;
}

/*==================================
Search Form
==================================*/

form.tm_search_form {
    position: relative;
}

form.tm_search_form input[type="search"] {
    width: 100%;
    border: 1px solid white;
    background: transparent;
    border-radius: 30px;
    padding: 10px 20px;
    color: white;
    box-sizing: border-box;

    &::placeholder {
        color: $white;
        text-transform: uppercase;
    }
}

form.tm_search_form button[type="submit"] {
    position: absolute;
    right: 20px;
    top: 8px;
    padding: 0;
}

// Icon Hover

form.tm_search_form .search_icon {
    opacity: 1;
    transition: all .3s ease-in-out;

    &:hover {
        opacity: .8;
        transform: scale(.95);
    }
}