/*==================================
Main Header
==================================*/

header.main_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    @include z-index(navigation);

    @include tablet_landscape {
        display: none;
    }
}

// Header Top

.header_top {
    background: $tm_blue;
    width: 100%;
    height: 75px;
    z-index: 10;
    position: relative;
    display: flex;
    align-items: center;
}

.header_top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

// Logo

a.header_logo {
    display: block;
    width: 250px;
    margin-right: 20px;

    @include small_desktop {
        width: 200px;
    }
}

a.header_logo img {
    display: block;
}

/*==================================
Header Left
==================================*/

.header_left {
    display: flex;
    align-items: center;
    height: 100%;
}

/*==================================
Main Navigation
==================================*/

nav.main_navigation {
    height: 100%;
}

nav.main_navigation ul {
    margin: 0;
    height: 100%;
    display: flex;
}

nav.main_navigation li {
    position: relative;
    display: inline-block;
    margin: 0 13px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'tm_sans_bold', sans-serif;
    color: $white;
    height: 100%;
    display: flex;
    align-items: center;
    // transition: all .3s ease-in-out;

    @include small_desktop {
        font-size: 13px;
        margin: 0 10px;
    }
}

// Specific to main menu

nav.main_navigation > ul.menu > li > a {
    // transition: all .3s ease-in-out;
}

nav.main_navigation > ul.menu > li:hover > a {
    opacity: .8;
}

// Arrow on current nav menu item

nav.main_navigation > ul.menu > li.current-menu-item:after, nav.main_navigation > ul.menu > li.current-menu-parent:after {
    content: '';
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid $tm_dark_blue;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -15px;
    z-index: 10;
    pointer-events: none;
}

/*==================================
Sub Menu
==================================*/

.main_navigation ul.sub-menu {
    position: absolute;
    top: 75px;
    left: 50%;
    width: 800px;
    margin-left: -400px;
    height: 40px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .6s .3s $bounceIn;
    display: none;
}

nav.main_navigation li.current-menu-item ul.sub-menu, nav.main_navigation li.current-menu-parent ul.sub-menu {
    display: flex;
}

body.loaded .main_navigation ul.sub-menu {
    opacity: 1;
}

// Hide on scroll

.main_header.scrolled nav.main_navigation li.current-menu-item, .main_header.scrolled nav.main_navigation li.current-menu-parent  {
    ul.sub-menu {
        opacity: 0;
        transform: scale(.8);
        transition: all .6s $bounceIn;
    }
}

// Current Item

nav.main_navigation ul.sub-menu > li {
    position: relative;
}

nav.main_navigation ul.sub-menu > li:after {
    content: '';
    background: white;
    height: 5px;
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 3px;
    transform: scale(0,1);
    transition: transform .3s ease-in-out;
}

nav.main_navigation ul.sub-menu > li:hover:after, nav.main_navigation ul.sub-menu > li.current-menu-item:after {
    transform: scale(1,1);
}

/*==================================
Sub Navigation Bar
==================================*/

.sub_nav_bar {
    position: relative;
    background: $tm_dark_blue;
    height: 40px;
    max-height: 40px;
    width: 100%;
    display: none;
    transition: all .3s ease-in-out;
}

body.page_with_subnav .sub_nav_bar {
    display: block;
}

// Rollup on scroll

.main_header.scrolled .sub_nav_bar {
    max-height: 0;
}

/*==================================
Header Right
==================================*/

.header_right {
    display: flex;
    align-items: center;
}

// Search Icon Adjustments

.main_header .search_icon {
  background-color: $tm_blue;
}

.main_header .search_icon .circle {
  height: 20px;
  width: 20px;
  background-color: $tm_blue;
  transition: all .6s cubic-bezier(.25,1.7,.35,.8);
  z-index: 1;
}

.main_header .search_icon .handle {
  top: 14px;
  left: -2px;
  width: 35px;
  height: 3px;
  &:after {
    content:"";
    background-color: $white;
    width: 35px;
    height: 3px;
    transition: all .6s cubic-bezier(.25,1.7,.35,.8);
    z-index: -1;
  }
}

.main_header .search_icon.transformed {
  .circle {
    transform: scale(0);
    transform-origin: 30% 40%;
    background: $white;
    border-color:$white;
  }
  .handle:after {
    transform-origin: center center;
    transform: rotate(90deg);
  }
}