/*==================================
Structure
==================================*/

.hero_container {
    display: flex;
    position: relative;
    flex-flow: row wrap;
    height: 650px;
    background: $white;

    @include large_desktop {
        height: 800px;
    }

    @include tablet_landscape {
        height: auto;
    }
}

/*==================================
Image Side
Same for single images and for flexslider implementations.
Some adjustments are made in the _sliders.scss file for flexslider.
==================================*/

.hero_image_container {
    height: 100%;
    width: 60%;
    clip-path: polygon(0% 0%, 100% 0%, 93% 100%, 0 100%);
    position: relative;
    background-size: cover;
    background-position: center;
    @include z-index(priority-content);

    @include tablet_landscape {
        width: 100%;
        height: 500px;
        clip-path: none;
    }

    @include tablet {
        height: 400px;
    }

    @include mobile_landscape {
        height: 300px;
    }

    @include mobile {
        height: 250px;
    }
}

// Link

a.hero_image_link {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Icon On Hero Image

a.hero_image_link i {
    color: rgba($white, .8);
    font-size: 100px;
    pointer-events: none;
    transition: all .3s ease-in-out;
}

a.hero_image_link:hover {
    i {
        color: rgba($white, 1); 
    }
}

/*==================================
Content Side
==================================*/

.hero_content_container {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    color: $white;

    @include tablet_landscape {
        width: 100%;
    }
}

.hero_content_box_container {
    width: 600px;
    transform: translateX(-61px);
    @include tablet_landscape {
        width: 90%;
        margin: 0 auto;
        transform: translateX(0px);
    }
}

.hero_content_box {
    background: $gradient_light_to_dark_blue;
    color: $white;
    height: 350px;
    margin-bottom: 20px;
    border-radius: 0 3px 3px 0;
    padding: 30px 30px 0 80px;

    @include tablet_landscape {
        height: auto;
        padding: 50px;
        border-radius: 0 0 3px 3px;
    }

    @include tablet {
        height: auto;
        padding: 20px;
    }
}

// Social Share

.hero_content .tm_social_share {
    margin-bottom: 5px;
}

// Content Elements

.hero_content_title_container {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    margin-bottom: 10px;
    padding: 15px 0;
}

.hero_content_title_container h1 {
    font-size: 40px;
    line-height: 43px;
    margin-bottom: 5px;

    @include small_desktop {
        font-size: 30px;
        line-height: 30px;
    }

    @include mobile_landscape {
        font-size: 28px;
        line-height: 30px;
    }
}

.hero_content_title_container p {
    margin-bottom: 5px;
}

.hero_content h3 {
    margin-bottom: 10px;
}

// Meta

.hero_meta {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/*==================================
Sponsor
==================================*/

.hero_sponsor {
    position: absolute;
    top: 0;
    right: 59px;
    z-index: 10;
    background: $white;
    border-radius: 0 0 3px 3px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet_landscape {
        position: relative;
        width: 100%;
        border-radius: 0;
        right: 0;
    }
}

.hero_sponsor h2 {
    margin: 0 10px 0 0;
    font-family: 'tm_sans_bold', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;

    @include mobile_landscape {
        font-size: 16px;
        line-height: 16px;
    }
}

.hero_sponsor .logo {
    max-width: 150px;
    @include mobile_landscape {
        max-width: 100px;
    }
}

/*==================================
Color Themes
==================================*/

// Colorful

.hero_container.colorful {
    background: linear-gradient(50deg, $tm_blue 39%, $tm_pink 100%);

    @include tablet_landscape {
        background: linear-gradient(90deg, $tm_blue 0%, $tm_pink 100%)
    }
}

.hero_container.colorful .hero_content_box {
    background: $white;
    color: $dark_grey;
}

.hero_container.colorful .hero_content_title_container {
    border-top: 2px solid $tm_pink;
    border-bottom: 2px solid $tm_pink;
}

// Blue

.hero_container.blue {
    background: linear-gradient(50deg, $tm_blue 39%, $tm_dark_blue 100%);
}

.hero_container.blue .hero_content_box {
    background: $white;
    color: $dark_grey;
}

.hero_container.blue .hero_content_title_container {
    border-top: 2px solid $tm_blue;
    border-bottom: 2px solid $tm_blue;
}

.hero_container.blue .hero_content_title_container p {
    color: $tm_blue;
}

.hero_meta {
    color: $tm_blue;
}