/*==================================
Structure
==================================*/

.inventory_widget_container {
    position: relative;
    max-height: 750px;
    border: 1px solid $light_grey_accent;
    border-radius: 3px;
    margin-bottom: 20px;
    overflow: scroll;
    opacity: 1;
    transform: scale(1);
    transition: all .6s $bounceIn;

    &.hidden {
        display: none;
    }

    &.visually_hidden {
        opacity: 0;
        transform: scale(.8);
    }
}

// Inventory Widget In Post Grid

.post_grid_inventory_widget_column .inventory_widget_container {
    position: absolute;
    height: calc(100% - 30px);
    max-height: none;
    width: calc(100% - 30px);
}

/*==================================
Header
==================================*/

.inventory_widget_header {
    position: relative;
    display: flex;
    height: 80px;
    border-bottom: 1px solid $light_grey_accent;

    @include mobile_landscape {
        height: 60px;
    }
}

// Image

.inventory_widget_header_image {
    width: 20%;
    background-size: cover;
    background-position: center;
    border-right: 1px solid $light_grey_accent;
}

// Title

.inventory_widget_header_title {
    width: 80%;
    padding-left: 20px;
    height: 100%;
    font-size: 15px;
    line-height: 17px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.inventory_widget_header_title p {
    font-size: inherit;
    line-height: inherit;
    font-family: 'tm_sans_semi_bold', sans-serif;
    color: $tm_dark_blue;
    margin-bottom: 0;
}

.inventory_widget_sub_title p {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

// Loading Symbol

i.inventory_widget_loading {
    position: absolute;
    top: 0;
    right: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    z-index: 10;
    font-size: 40px;
    color: $tm_blue;
    animation: spin 4s linear infinite;
}

.events_loaded i.inventory_widget_loading {
    opacity: 0;
    z-index: -13;
}

/*==================================
Event
==================================*/

// Structure

li.inventory_widget_event {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 13px;
    line-height: 15px;
    padding: 20px 10px;
    border-bottom: 1px solid $light_grey_accent;

    &:last-child {
       border-bottom: 0px solid $light_grey_accent; 
       padding: 20px 10px 0;
    }
}

li.inventory_widget_event p {
    font-size: inherit;
    line-height: inherit;
    margin-bottom: 5px;
}

// Info Container

li.inventory_widget_event .event_info_container {
    width: 65%;
    display: flex;
    flex-flow: row wrap;

    @include tablet {
        width: 50%;
    }
}

// Date/Time

li.inventory_widget_event .date_time_container {
    width: 30%;
    @include tablet {
        width: 100%;
    }
}

li.inventory_widget_event .date_time_container p.date {
    font-family: 'tm_sans_semi_bold', sans-serif;
}

// Event Details (Name, Location, Lineup)

li.inventory_widget_event .name_location_container {
    width: 70%;
    padding-left: 10px;

    @include tablet {
        width: 100%;
        padding-left: 0px;
    }
}

p.event_name, p.event_lineup {
    color: $tm_dark_blue;
    font-family: 'tm_sans_semi_bold', sans-serif;
}

// Find Tickets

li.inventory_widget_event .tickets_button_container {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: inherit;
    line-height: inherit;

    @include tablet {
        width: 50%;
    }
}

li.inventory_widget_event .tickets_button_container .tm_button {
    font-size: inherit;
    line-height: inherit;
}

li.inventory_widget_event .tickets_button_container .button_subtext {
    display: none;
}

.inventory_widget_container .button_subtext {
    display: none;
}

/*==================================
No Events Text
==================================*/

p.no_events {
    padding: 20px;
    margin-bottom: 0;
    font-size: 16px;
}

/*==================================
Sidebar Sizing Adjustments
==================================*/

.inventory_widget_container.sidebar .inventory_widget_header {
    height: 60px;
}

.inventory_widget_container.sidebar .inventory_widget_header_title {
    font-size: 13px;
    line-height: 15px;
}

.inventory_widget_container.sidebar li.inventory_widget_event {
    font-size: 11px;
    line-height: 13px;
}

.inventory_widget_container.sidebar .tm_button.small {
    padding: 10px;
}