/*==================================
Mobile Header
==================================*/

header.mobile_header {
    display: none;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    height: 50px;
    padding: 0;
    background: $tm_blue;
    @include z-index(navigation);

    @include tablet_landscape {
        display: block;
    }
}

header.mobile_header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

// Logo

.mobile_header .logo {
    width: 230px;

    img {
        display: block;
    }

    @include mobile_landscape {
        width: 150px;
    }
}

// Custom Hamburger Menu Icon

.menu_icon {
  position: relative;
  display: block;
  border-top: 2px solid $white;
  height: 14px;
  width: 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: all .3s ease-in-out;

  &:before {
    content: "";
    width: 100%;
    border-bottom: 2px solid $white;
    position: absolute;
    top: 4px;
    transition: all .3s ease-in-out;
  }  

  &:after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 18px;
    border-bottom: 2px solid $white;
    transition: all .3s ease-in-out;
  }  
}

// Transforms to 'X' once clicked

.menu_icon.open {
    border-top: 0px;

    &:before {
        transform: rotate(45deg);
        top: 1px;
        border-bottom: 2px solid $white;
    }

    &:after {
        transform: rotate(-45deg);
        bottom: 11px;
        border-bottom: 2px solid $white;
    } 
}

/*==================================
Mobile Navigation
==================================*/

// Structure/Container

nav.mobile_navigation {
    position: fixed;
    top: 50px;
    height: 0vh;
    overflow: hidden;
    background: linear-gradient(205deg, $tm_blue 0%, $tm_pink 100%);
    width: 100%;
    transition: all .5s ease-in-out;
    @include z-index(overlay);

    &.open {
        height: 100vh;
        padding: 20px 0;
        transition: all .5s ease-in-out;
    }
}

// Search Form

.mobile_navigation .tm_search_form {
    margin-bottom: 30px;
}

// Menu

nav.mobile_navigation ul.menu { 
    position: relative;
    list-style: none;
    margin: 0 0 80px 20px;
}

nav.mobile_navigation li {
    font-family: 'tm_sans_bold';
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 20px;

    &:last-child {
        border-bottom: 0;
    }
}

nav.mobile_navigation ul li a {
    color: $white;
}

.mobile_navigation ul.sub-menu {
    border-left: 3px solid $tm_blue;
    list-style: none;
    opacity: 0;
    max-height: 0;
    margin: 0;
    padding: 0 0 0 20px;
    overflow: hidden;
    transition: all .5s ease-in-out;

    &.open {
        margin: 20px 0;
        max-height: 500px;
        opacity: 1;
    }
}

.mobile_navigation ul.sub-menu li {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }
}

// Social

.mobile_navigation ul.social_icons {
    justify-content: center;
    list-style: none;
}

.mobile_navigation ul.social_icons li {
    font-size: 25px;
}

.mobile_navigation ul.social_icons a {
    color: $white;
}