/*==================================
STRUCTURE
==================================*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    background: $gradient_light_to_dark_blue_transparent;
    @include z-index(hidden);
    opacity: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .3s ease-in-out, z-index 0s .5s ease-in-out;
}

.modal.open {
    @include z-index(modal);
    opacity: 1;
    transition: opacity .5s ease-in-out;
}

/*==================================
TRANSPARENT LAYER
==================================*/

.modal_transparent_layer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    width: 100%;
    height: 100%;    
}

// Main Content

.modal_content {
    width: 80%;
    z-index: 13;
    transform: scale(.95);
    transition: all .3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.modal.open .modal_content {
    transform: scale(1);
}

/*==================================
MODAL CLOSE
==================================*/

.modal_close i {
    position: absolute;
    cursor: pointer;
    right: 20px;
    top: 20px;
    font-size: 50px;
    color: white;
    z-index: 10;
    transition: all .3s ease-in-out;

    &:hover {
        transform: rotate(90deg);
    }

    @include tablet {
        right: 10px;
        top: 10px;
        font-size: 30px;
    }
}

/*==================================
VIDEO MODAL
==================================*/

.video_modal {
    background: $gradient_pink_to_blue_transparent;
}

/*==================================
LINEUP MODAL
==================================*/

.lineup_modal .modal_content {
    background: white;
    border-radius: 3px;
    width: 60%;
    max-height: 80%;
    overflow: scroll;
    @include scrollbar();

    @include tablet {
        width: 90%;
    }
}

.lineup_modal h1.modal_title {
    border-bottom: 1px solid $tm_blue;
    padding: 20px;
    margin-bottom: 0;
}

.lineup_modal .modal_body {
    padding: 20px;
}

// Artist List

ul.modal_lineup_list {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}

ul.modal_lineup_list li {
    width: 33.33%;
    font-family: 'tm_sans_semi_bold', sans-serif;
    margin-bottom: 5px;

    @include tablet {
        width: 90%;
    }
}