/*==================================
Plyr Video
==================================*/

.plyr__control {
    color: $white;
}

.plyr__control--overlaid {
    background: rgba($tm_blue, .8);
}

.plyr--video .plyr__controls .plyr__control.plyr__tab-focus, .plyr--video .plyr__controls .plyr__control:hover, .plyr--video .plyr__controls .plyr__control[aria-expanded=true] {
    background: rgba($tm_blue, .8);
}

.plyr--full-ui input[type=range] {
    color: $tm_blue;
}

/*==================================
Search Header
==================================*/

.search_header {
    background: $gradient_pink_to_blue;
    padding: 30px 0;
    margin-bottom: 50px;
}

.search_header h3 {
    color: $white;
    padding: 20px 0 0;
    margin-bottom: 0;
    text-align: center;
}

/*==================================
Trending Grid
==================================*/

.trending_grid .column_1_3 {
    @include tablet_landscape {
        width: 100%;
    }
}

// Post Card Adjustments

.trending_grid .sidebar_post_card {
    margin-bottom: 40px;
    @include tablet_landscape {
        margin-bottom: 0;
    }
}

// Only show one post on mobile

.trending_grid .sidebar_posts_widget .sidebar_post_card {
    &:nth-of-type(2), &:nth-of-type(3) {
        @include tablet_landscape {
            display: none;
        }
    }
}

/*==================================
Content Container
==================================*/

// Structure

.tm_content_container {
    background: $white;
    margin-bottom: 50px;
}

// Title

.tm_content_container .title {
    width: 100%;
    clip-path: polygon(0 0,100% 0%,100% 40%,0 100%);
    padding: 20px 0 15px 20px;
    margin-bottom: 20px;
    color: $white;
    background: $gradient_blue_transparent;

    &.colorful {
        background: $gradient_blue_to_pink;
    }
}

.tm_content_container .title h1 {
    text-transform: uppercase;
}

// Body

.tm_content_container_body {
    padding: 0 20px;
    overflow: auto;
}

/*==================================
New FAQ Styling
==================================*/

.tm_faq {
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid $tm_blue;
    padding: 20px 40px 20px 0;
    cursor: pointer;

    &:first-of-type {
        padding: 0 40px 20px 0;
    }

    &:last-of-type {
        margin-bottom: 20px;
    }
}

// Title

h5.tm_faq_title {
    color: $tm_blue;
    margin-bottom: 0;
    transition: all .3s ease-in-out;
}

// Content

.tm_faq_content {
    opacity: 0;
    max-height: 0;
    margin-bottom: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

// Arrow After

.tm_faq:after {
    content: '\f107';
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    color: $tm_blue;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -13px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    transition: all .3s ease-in-out;
}

.tm_faq:first-of-type:after {
    top: 0;
    margin-top: 0;
}

// Open State

.tm_faq.open {
    .tm_faq_title {
        margin-bottom: 10px;
    }
    .tm_faq_content {
        opacity: 1;
        max-height: 500px;
    }
    &:after {
        transform: rotate(-180deg);
    }
}

// Hide empty paragraphs after shortcode output

.tm_faq + p:empty {
    display: none;
}

/*==================================
Legacy FAQ Styling
==================================*/

.bq_faq {
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid $tm_blue;
    padding: 20px 40px 20px 0;
    cursor: pointer;

    &:first-of-type {
        padding: 0 40px 20px 0;
    }
}

.bq_faq {
    h1, h2, h3, h4, h5 {
        margin-bottom: 0;
        color: $tm_blue;
        transition: all .3s ease-in-out;
    }
}

.bq_faq p, .bq_faq :not(h5) {
    opacity: 0;
    max-height: 0;
    margin-bottom: 0;
    transition: all .3s ease-in-out;
}

.bq_faq h5 strong, .bq_faq h5 b, .bq_faq h5 i, .bq_faq h5 em {
    opacity: 1;
    max-height: 500px;
    margin-bottom: 10px;
}

// Arrow After

.bq_faq:after {
    content: '\f107';
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    color: $tm_blue;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -13px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    transition: all .3s ease-in-out;
}

.bq_faq:first-of-type:after {
    top: 0;
    margin-top: 0;
}

// Open State

.bq_faq.open {
    h1, h2, h3, h4, h5 {
        margin-bottom: 10px;
    }
    p, :not(h5) {
        opacity: 1;
        max-height: 500px;
    }
    &:after {
        transform: rotate(-180deg);
    }
}