/*==================================
Overview
---
To create dynamic grids of posts across the site we use background images and adjust
the post images height at different breakpoints.

All post cards adapt to the same sizing on tablet_landscape and tablet.
tablet_landscape: Width: 50%, Image Height: 250px;
tablet: Width: 100%, Image Height: 300px;
mobile_landscape: Width: 100%, Image Height: 200px;
mobile: Width: 100%, Image Height: 180px;
==================================*/

/*==================================
Layout
==================================*/

.post_grid {
    display: flex;
    flex-flow: row wrap;
    width: auto;
    margin: 0px -15px;
}

/*==================================
Alternating Grid
Combination of half column and three column posts.
==================================*/

.post_grid.alternating .post_card {
    width: 33.33%;
    
    .post_card_image {
        height: 250px;

        @include tablet {
           height: 300px;
        }

        @include mobile{
           height: 180px;
        }
    }

    @include tablet_landscape {
        width: 50%;
    }

    @include tablet {
        width: 100%;
    }
}

.post_grid.alternating .post_card:nth-child(1), .post_grid.alternating .post_card:nth-child(2) {
    width: 50%;

    .post_card_image {
        height: 350px;
        @include tablet_landscape {
           height: 250px;
        }
        @include tablet {
           height: 300px;
        }
        @include mobile_landscape {
           height: 200px;
        }
        @include mobile{
           height: 180px;
        }
    }

    @include tablet {
        width: 100%;
    }
}

/*==================================
Two Column
Two column grid of posts.
==================================*/

.post_grid.two_column .post_card {
    width: 50%;

    .post_card_image {
        height: 350px;

        @include small_desktop {
            height: 300px;
        }

        @include tablet_landscape {
            height: 250px;
        }

        @include tablet {
            height: 300px;
        }

        @include mobile_landscape {
           height: 200px;
        }

        @include mobile{
           height: 180px;
        }
    }

    @include tablet {
        width: 100%;
    }
}

/*==================================
Two Column
Two column grid of posts.
==================================*/

.post_grid.three_column .post_card {
    width: 33.33%;

    .post_card_image {
        height: 250px;

        @include tablet{
            height: 300px;
        }

        @include mobile_landscape {
           height: 200px;
        }

        @include mobile{
            height: 180px;
        }
    }

    @include tablet {
        width: 100%;
    }
}

/*==================================
Two Column Inner
Two column grid of posts that are within a columned layout.
Hence why the height is smaller above tablet landscape.
At tablet landscape the containing column becomes full width.
==================================*/
.post_grid.two_column_inner .post_card {
    width: 50%;

    .post_card_image {
        height: 200px;
        @include tablet_landscape {
            height: 250px;
        }
        @include tablet{
            height: 300px;
        }

        @include mobile_landscape {
           height: 200px;
        }
        @include mobile{
            height: 180px;
        }
    }

    @include tablet {
        width: 100%;
    }
}

/*==================================
Inner Row within Post Grid
Normally in the sidebar column of a post grid we
have an inventory widget or social feed. These disappear on mobile.
==================================*/

.post_grid_inner_row .column_1_3 {
    @include tablet_landscape {
        display: none;
    }
}

.post_grid_inner_row .column_2_3 {
    @include tablet_landscape {
        width: 100%;
        margin-bottom: 0;
    }
}

/*==================================
Iframe in post grid
==================================*/

.post_grid_embed_container {
    width: 100%;
    height: 96%;
}

.post_grid_embed_container {
    iframe, object, embed {
        width: 100% !important;
        height: 100% !important;
    }
}

/*==================================
Load More Button
==================================*/

.alm-btn-wrap {
    display: flex;
    justify-content: center;
    color: $tm_blue;
    margin-bottom: 30px;
}

button.alm-load-more-btn {
    cursor: pointer;
    outline: 0;
}

button.alm-load-more-btn i {
    width: 30px;
    height: 30px;
    border: 2px solid $tm_blue;
    color: $tm_blue;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;

    &:hover {
        background: $tm_blue;
        color: $white;
    }
}

button.alm-load-more-btn.loading i {
    animation: spin 4s linear infinite;
}

button.alm-load-more-btn.done {
    display: none;
}
