/*==================================
Standard Post Card
==================================*/

// Structure

.post_card {
	position: relative;
	margin: 0px 0px 30px;
	padding: 0px 15px;
    display: flex;
    flex-direction: column;

	img {
		display: block;
    }
    
    a {
        cursor: pointer;
    }
}

// Image

.post_card_image {
    background-size: 103%;
    // background-position: 50% 40%;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    position: relative;
    transition: all .3s ease-in-out;

    @include tablet_landscape {
        background-size: cover;
        background-position: center;
    }
}

.post_card_image_block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: all .3s ease-in-out;
}

// Image Link

a.post_card_image_link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

// Content

.post_card_content {
    display: block;
    padding: 20px;
    background: $white;
    flex: 1 1 auto;
    border-radius: 0 0 3px 3px;
}

.post_card_content_top {
    transform: translateY(5px);
    margin-bottom: 10px;
    transition: all .3s;
    @include tablet {
        transform: translateY(0px);
    }
}

.post_card_content h2 {
    color: $dark_grey;
    margin-bottom: 5px;
    transition: color .3s ease-in-out;
}

.post_card_content p {
    margin-bottom: 0;
    font-family: 'tm_sans_light', sans-serif;
}

// Social

.post_card_content .tm_social_share {
    transform: translateY(10px);
    opacity: 0;
    transition: all .3s;

    @include tablet {
        display: none;
    }
}

// Ad Unit in Post Card

.post_card_ad_unit {
    background: $white;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

// Hover

.post_card:hover {

    .post_card_image {
        // background-position: 50% 50%;
        background-size: 105%;
    }

    .post_card_image_block {
        transform: scale(1.03);
    }

    .post_card_category {
        clip-path: polygon(0 0,100% 0%,100% 100%,0% 100%);
    }

    .post_card_content h2 {
        color: $tm_blue;
    }

    .post_card_content_top {
        transform: translateY(0);
    }

    .post_card_content .tm_social_share {
        transform: translateY(0);
        opacity: 1;
    }

}

/*==================================
Minimaster Standard Post Card
==================================*/

.post_card.minimaster .post_card_category {
    background: $gradient_blue_to_pink_transparent;
}

.post_card.minimaster:hover {

    .post_card_content h2 {
        color: $tm_pink;
    }

}

/*==================================
Horizontal Post Card
==================================*/

// Structure

.horizontal_post_card {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 20px;
}

// Image

.horizontal_post_card_image {
    width: 30%;
    overflow: hidden;
    position: relative;

    @include tablet {
        width: 100%;
        height: 300px;
    }

    @include mobile_landscape {
        height: 200px;
    }

    @include mobile {
        height: 180px;
    }
}

.horizontal_post_card_image_block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: all .3s ease-in-out;
}

// Category

.horizontal_post_card_category {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    clip-path: polygon(0 0,100% 0%,100% 60%,0 100%);
    padding: 10px;
    color: $white;
    background: $gradient_blue_transparent;
    transition: all .3s ease-in-out;
}

.horizontal_post_card_category h3 {
    margin-bottom: 0;
}

// Meta

.horizontal_post_card_meta {
    color: $tm_blue;
    font-family: 'tm_sans_black', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    h3, p {
        margin-bottom: 0;
    }
}

// Content

.horizontal_post_card_content {
    width: 70%;
    padding: 20px;
    background: $white;

    @include tablet {
        width: 100%;
    }
}

.horizontal_post_card_content h1 {
    border-top: 2px solid $tm_blue;
    border-bottom: 2px solid $tm_blue;
    margin-bottom: 5px;
    padding: 10px 0;
    color: $dark_grey;
}

.horizontal_post_card_content p.excerpt {
    font-family: 'tm_sans_light', sans-serif;
}

// Hover

.horizontal_post_card:hover {

    .horizontal_post_card_category {
        clip-path: polygon(0 0,100% 0%,100% 100%,0% 100%);
    }

    .horizontal_post_card_image_block {
        transform: scale(1.03);
    }

    .horizontal_post_card_content h1 {
        color: $tm_blue;
    }

}

/*==================================
Sidebar Post Card
==================================*/

.sidebar_posts_widget {
    background: white;
    padding: 30px;
}

// Header

header.sidebar_posts_widget_header {
    margin-bottom: 30px;
}

.sidebar_posts_widget h1.title {
    text-align: center;
}

// Card

.sidebar_post_card {
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0px;
    }

    @include tablet {
        margin-bottom: 20px;
    }
}

.sidebar_post_card_image {
    position: relative;
    overflow: hidden;
    height: 200px;
    margin-bottom: 10px;

    img {
        display: block;
        width: 100%;
    }

    @include tablet {
        height: 350px;
    }

    @include mobile_landscape {
        height: 200px;
    }

    @include mobile {
        height: 180px;
    }
}

.sidebar_post_card_image_block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: all .3s ease-in-out;
}

.sidebar_post_card_content h2 {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 0;
    transition: color .3s ease-in-out;
}

// Hover

.sidebar_post_card:hover {

    .post_card_category {
        clip-path: polygon(0 0,100% 0%,100% 100%,0% 100%);
    }

    .sidebar_post_card_content h2 {
        color: $tm_pink;
    }

    .sidebar_post_card_image_block {
        transform: scale(1.03);
    }

}

/*==================================
Next Post Card
==================================*/

.next_post_card_container {
    position: absolute;
    bottom: 0px;
    transform: scale(1);
    transition: all .6s $bounceIn;

    @include tablet_landscape {
        display: none;
    }
}

.next_post_card_container.hidden {
    opacity: 0;
    transform: scale(.8);
}

// Card

.next_post_card {
    width: 400px;
    display: flex;
}

.next_post_card_image {
    position: relative;
    width: 30%;
    min-height: 100px;
    background-size: cover;
    border-top: 1px solid $light_grey_accent;
    border-left: 1px solid $light_grey_accent;
    border-bottom: 1px solid $light_grey_accent;
    border-radius: 3px 0 0 3px;

    img {
        display: block;
    }
}

.next_post_card_content {
    display: block;
    width: 70%;
    padding: 10px 20px;
    border-top: 1px solid $light_grey_accent;
    border-right: 1px solid $light_grey_accent;
    border-bottom: 1px solid $light_grey_accent;
    flex: 1 1 auto;
    border-radius: 0 0 3px 0;
}

.next_post_card_content .link_with_arrow {
    justify-content: flex-start;
}

.next_post_card_content .link_with_arrow h3 {
    font-size: 13px;
    line-height: 13px;
}

.next_post_card_content h2 {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 0;
    color: $dark_grey;
    transition: color .3s ease-in-out;
}

// Next Link

.next_post_card_container .next_post_link_arrow {
    background: $tm_blue;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.next_post_link_arrow:after {
    clip-path: polygon(0 0%,100% 50%,100% 50%,0% 100%);
    content: '';
    position: absolute;
    width: 10px;
    height: 100%;
    right: -10px;
    background: $tm_blue;
}

.next_post_link_arrow span {
    transform: rotate(-90deg);
    text-transform: uppercase;
    font-family: 'tm_sans_light';
}

// Hover

.next_post_card_container:hover {

    .post_card_category {
        clip-path: polygon(0 0,100% 0%,100% 100%,0% 100%);
    }

    .next_post_card_content h2 {
        color: $tm_blue;
    }

}

/*==================================
Category Overlay
==================================*/

.post_card_category {
    position: absolute;
    z-index: 3;
    left: 0;
    width: 100%;
    clip-path: polygon(0 0,100% 40%,100% 100%,0% 100%);
    color: $white;
    background: $gradient_blue_transparent;
    transition: all .3s ease-in-out;
}

.post_card_category.bottom {
    bottom: 0;
    padding: 15px 20px;
    clip-path: polygon(0 0,100% 40%,100% 100%,0% 100%);

    h3 {
        margin-bottom: 0;
    }
}

.post_card_category.top {
    top: 0;
    padding: 10px;
    clip-path: polygon(0 0,100% 0%,100% 60%,0 100%);

    h3 {
        margin-bottom: 5px;
    }
}

.post_card_category.pink {
    background: $gradient_pink_transparent;

}

// With Icon

.post_card_category.with_icon {
    display: flex;
    align-items: center;
}

.post_card_category.with_icon i {
    font-size: 30px;
    border-radius: 50%;
    margin-right: 10px;
}