/*==================================
Structure
==================================*/

.search_overlay {
    position: fixed;
    top: 75px;
    left: 0;
    width: 100%;
    height: 0vh;
    @include z-index(overlay);
    overflow: hidden;
    transition: height .6s $easeInOutCubic;
    background: $gradient_pink_to_blue;
}

.search_overlay_container {
    width: 800px;
    margin: 50px auto 20px;
}

body.search_open .search_overlay {
    height: 100vh;
}

// Search Form

.search_overlay form.tm_search_form {
    margin-bottom: 30px;
    opacity: 0;
    transition: all .3s ease-out;
}

body.search_open .search_overlay form.tm_search_form {
    opacity: 1;
    transition: all 1s ease-in;
}

// Pill Transition

.search_overlay ul.tm_pills li {
    opacity: 0;
    transform: translateX(-40px);
    transition: all .3s ease-in-out;
}

@for $i from 1 to 10 {
    .search_overlay ul.tm_pills li:nth-child(#{$i}) { 
        transition-delay: $i * 0.1s; 
    }
}

body.search_open {
    .search_overlay ul.tm_pills li {
        opacity: 1;
        transform: translateX(0px);
    }
}