/*==================================
Hero Slider
==================================*/

// Flexslider adjustment to fit our hero image structure.

.flexslider.hero_slider_images .flex-viewport {
    height: 100%;
}

.flexslider.hero_slider_images ul.slides {
    height: 100%;
}

.flexslider.hero_slider_images ul.slides > li {
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

// Navigation

.hero_slider_navigation {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    @include tablet_landscape {
        justify-content: center;
        margin-bottom: 20px;
    }
}

/*==================================
Custom Navigation
==================================*/

.tm_flexslider_navigation {
    display: flex;
    align-items: center;
}

/*==================================
Control Navigation
==================================*/

// Flexslider

.flex-control-nav {
    position: relative;
    width: auto;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.flex-control-nav li a {
    width: 20px;
    height: 20px;
    border: 2px solid $tm_blue;
    background: transparent;
    box-shadow: none;
    transition: all .3s ease-in-out;

    &.flex-active, &:hover {
        background: $tm_blue;
    }
}

.tm_flexslider_navigation.white .flex-control-nav li a {

    border: 2px solid $white;

    &.flex-active, &:hover {
        background: $white;
    }

}

/*==================================
Direction Nav
==================================*/

// Flexslider

.tm_flexslider_navigation .flex_arrow, .flex-direction-nav a {
    width: 30px;
    height: 30px;
    border: 2px solid $tm_blue;
    color: $tm_blue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;

    &.flex-prev {
        margin-right: 10px;
    }

    &.flex-next {
        margin-left: 10px;
    }

    &:hover {
        background: $tm_blue;
        color: $white;
    }
}

.tm_flexslider_navigation.white a.flex_arrow {
    border: 2px solid $white;
    color: $white;

    &:hover {
        background: $white;
        color: $tm_pink;
    }
}

a.flex_direction_nav.flex-disabled {
    display: none;
}

.flex-direction-nav .flex-prev {
    left: -50px;
}

.flex-direction-nav .flex-next {
    right: -50px;
}

/*==================================
Carousel
==================================*/

.tm_carousel {
    margin-bottom: 10px;
}

// Nav

.tm_carousel_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.slick-arrow {
    width: 30px;
    height: 30px;
    border: 2px solid $tm_blue;
    color: $tm_blue;
    padding: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
        background: $tm_blue;
        color: $white;
    }
}

// Previous Arrow 

.tm_carousel_nav button.slick-prev {
    order: 1;
    margin-right: 10px;
}

// Next Arrow

.tm_carousel_nav button.slick-next {
    order: 3;
    margin-left: 10px;
}

// Dots

ul.slick-dots {
    position: relative;
    width: auto;
    list-style: none;
    margin: 0;
    order: 2;
    display: flex;
    justify-content: center;

    @include tablet {
        display: none !important;
    }
}

.slick-dots li {
    width: 20px;
    height: 20px;
    border: 2px solid $tm_blue;
    margin: 0 5px;
    border-radius: 50%;
    background: transparent;
    box-shadow: none;
    transition: all .3s ease-in-out;

    &.slick-active, &:hover {
        background: $tm_blue;
    }

    &:only-child {
        display: none;
    }
    
}

.slick-dots li button {
    text-indent: -9999px;
}

/*==================================
Gallery Slider
==================================*/

// Container

.tm_gallery_slider_container {
    display: flex;
}

// Thumbnails

ul.gallery_slider_thumbnails {
    width: 6%;
    list-style: none;
    z-index: 10;
}

ul.gallery_slider_thumbnails li {
    margin: 0 0 3px;
    cursor: pointer;
    // transition: all .3s ease-in-out;
}

.gallery_slider_thumbnails img {
    display: block;
}

.gallery_slider_thumbnails li.flex-active {
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    transform: scale(1.5);
}

// Slides

.tm_gallery_slider.flexslider {
    width: 94%;
}

.tm_gallery_slider ul.slides li {
    margin-left: 0;
}

.tm_gallery_slider .slider_caption {
    background: $light_grey;
    padding: 10px;
    font-size: 14px;
    line-height: 16px;
}