/*==================================
Widgets
==================================*/

.tm_widget {
    border: 1px solid $light_grey_accent;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    overflow: scroll;
}

h1.widget_title {
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;
}

/*==================================
Iframes/Embeds
==================================*/

/* .tm_widget {
    iframe, embed {
        width: auto;
    }
} */

/*==================================
AD
==================================*/

.tm_rectangle_ad_container {
    background: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0 auto 20px;
    max-width: 400px;

    img {
        max-width: 250px;
    }
}

.tm_ad_widget {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}