/*==================================
Lists
==================================*/

// Styled list within content areas

.wysiwyg {
  ul, ol {
    margin: 0 0 20px;
    padding: 0;
    list-style-position: outside;
  }
}

.wysiwyg li {
  margin-left: 1.1em;
}

/*==================================
Buttons
==================================*/

.wysiwyg a.tm_button {
  margin-bottom: 20px;
}

/*==================================
Links
==================================*/

.wysiwyg a {
  color: $tm_blue;

  &:hover {
    color: $tm_dark_blue;
  }
}

/*==================================
Figures
==================================*/

figure {
  margin: 0 0 20px;
  max-width: 100%;
}

// Figures that don't have alignment should take up full width of the parent container.

figure.alignnone {
  max-width: 100%;

  img {
    width: 100%;
  }
}

// Captions

figure.wp-caption {
  position: relative;
}

figcaption.wp-caption-text {
  background: $light_grey;
  padding: 10px;
  font-size: 14px;
  line-height: 16px;
}

figure.wp-caption img {
    display: block;
    max-width: 100%;
}

/*==================================
Full Width Breakout Image
==================================*/

.full_width_image {
  width: 100vw;
  position: relative;
  margin-left: calc(-100vw / 2 + 1000px / 2);
  min-height: 600px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet_landscape {
    margin-left: calc(-50vw + 50%);
  }

  @include mobile_landscape {
    min-height: 400px;
  }
}

.full_width_image:before {
  @include overlay(rgba($black, .5));
}

.full_width_image p {
  max-width: 60%;
  margin: 0 auto;
  padding: 20px 0;
  color: white;
  font-family: 'tm_sans_light';
  font-size: 30px;
  line-height: 37px;
  z-index: 10;

  @include tablet {
    max-width: 90%;
  }

  @include mobile_landscape {
    font-size: 23px;
    line-height: 28px;
  }
}

/*==================================
Image/Content Alignment
==================================*/

.alignleft {
  display: inline;
  max-width: 50%;
  float: left;
  margin: 0 20px 20px 0;

  @include mobile_landscape {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 0 20px 0;
  }
}

.alignright {
  display: inline;
  max-width: 50%;
  float: right;
  margin: 0 0 20px 20px;

  @include mobile_landscape {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 0 20px 0;
  }
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*==================================
Horizontal Line
==================================*/

hr {
	background-color: $light_grey_accent;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/*==================================
Blockquote
==================================*/

blockquote {
  border-left: 3px solid $tm_blue;
  padding-left: 30px;
  margin: 0 0 20px;
}

// Twitter

.tm_twitter_blockquote_share i {
    margin-left: 10px;
}


/*==================================
Big Adjustment
TM used to use a 'big' html selector.
==================================*/

.wysiwyg big {
    display: block;
}