/*==================================
Header
==================================*/

.upcoming_festivals_header {
    position: relative;
    z-index: 10;
}

// Top

.upcoming_festivals_header_top {
    background: $gradient_dark_to_light_blue;
    padding: 20px;
    border-radius: 3px 3px 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: $white;
}

.upcoming_festivals_header_top h1 {
    margin-bottom: 0;
    line-height: 47px;
    text-transform: uppercase;
}

.upcoming_festivals_header_top .tm_search_form {
    @include tablet {
        width: 100%;
    }
}

// Bottom

.upcoming_festivals_header_bottom {
    padding: 20px;
    background: $white;
}

.festival_filter_form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.upcoming_festivals_header_bottom .tm_dropdown {
    width: 30%;
    margin-right: 10px;
    @include tablet {
        width: 100%;
        margin: 0 0 10px;
    }
}

.upcoming_festivals_header_bottom .tm_button_rounded {
    @include tablet {
        width: 100%;
        margin: 0;
    }
}

/*==================================
Festival List
==================================*/

.upcoming_festivals_body {
    padding: 0 20px 20px;
    background: $white;
    border-radius: 0 0 3px 3px;
    position: relative;
}

// Results Header

.upcoming_festivals_results_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.upcoming_festivals_results_header h1 {
    margin-bottom: 0;
}

.upcoming_festivals_results_header i {
    color: $tm_blue;
    font-size: 30px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    display: none;

    &:hover {
        transform: rotate(90deg);
    }
}

.upcoming_festivals_results_header.filtered i {
    display: block;
}

// List

.festival_list {
    width: 100%;
}

.festival_list li.hidden {
    display: none;
}

// Loading Container

.upcoming_festivals_loading_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba($white, .8)
}

.upcoming_festivals_body.loading .upcoming_festivals_loading_container {
    display: flex;
}

.upcoming_festivals_loading_container i {
    font-size: 40px;
    color: $tm_blue;
    animation: spin 4s linear infinite;
}

/* .festival_list li.inventory_widget_item {
    opacity: 0;
    transform: translateY(100px);
    transition: all .3s ease-in-out;
}

.festival_list.loaded li.inventory_widget_item {
    opacity: 1;
    transform: translateY(0px);
} */